h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}

p {
  width: 700px; 
  margin: 0 auto; 
  text-align: center; 
  text-wrap: balance;
} 

body {
  background-color: #d6c8c1; 
  min-height: 100%; 
  font-weight: 700; 
  font-family:'Concert One', 'Micro 5', 'Times New Roman', Times, serif; 
}

.VG{
  background-color: #aa9f8e; 
  border-color: #91aa9a; 
  border-style: solid; 
  border-width: 5px; 
  width: 800px; 
  margin: 0px auto;
}

html {
  height: 100%;
}

.nav {background-color: #9fb8a8; overflow: hidden;}
.navtop {background-color: #91aa9a;}
.navbar a {float:left; color: black; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.navbar a:hover {background-color: cadetblue; color: black;}
.navbar a.active {background-color: #b8a89f; color: aliceblue;}


body {
  border-style: solid;
  border-width: 1px 10px;
  border-color: #9fb8a8;
  height: auto;
  margin: 0;
}

img.logoN {
  width:5%;
}

.slay {
  text-align: center;
}

img.slaythespire {
  display: inline-block; 
  margin-right: auto; 
  margin-left: auto; 
  width:120px;
  border-style: solid;
}

.flex-container {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  margin: 0;
}

.hidden {
  z-index: 1;
  display: flex;
  width: 0px;
  height: 0px;
}
.image1 {
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  width: 200px;
  height: 320px;
}
.right {
  margin-left:auto ;
  width: 10px;
  margin-right: 50px;
}