h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}

p {
  width: 700px; 
  margin: 0 auto; 
  text-align: center; 
  text-wrap: balance;
} 

body {
  background-color: #d6c8c1; 
  min-height: 100%; 
  font-weight: 700; 
  font-family:'Concert One', 'Micro 5', 'Times New Roman', Times, serif; 
  height: auto;
  margin: 0;
}

.VG{
  background-color: #b3c9bb; 
  border-color: #91aa9a; 
  border-style: solid; 
  border-width: 5px; 
  width: 800px; 
  margin: 0px auto;
}

html {
  height: 100%;
}

.nav {background-color: #9fb8a8; overflow: hidden;}
.navtop {background-color: #91aa9a;}
.navbar a {float:left; color: black; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.navbar a:hover {background-color: cadetblue; color: black;}
.navbar a.active {background-color: #91aa9a; color: aliceblue;}

.dropdown {
  float: left;
  overflow: hidden;}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Concert One';
  margin: 0;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9fb8a8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 108px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
  background-color: cadetblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img.logoN {
  width:60px;
}

.slay {
  text-align: center;
}

img.slaythespire {
  display: inline-block; 
  margin-right: auto; 
  margin-left: auto; 
  width:120px;
  border-style: solid;
}

.flex-container {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  margin: 0;
}

.hidden {
  z-index: 1;
  display: flex;
  width: 0px;
  height: 0px;
}
.image1 {
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  width: 200px;
  height: 320px;
  border-style: solid;
}
.right {
  margin-left:auto ;
  width: 10px;
  margin-right: 50px;
}