h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
p {width: 700px; margin: 0 auto; text-align: center; font-family: 'Aldritch', 'Times New Roman', Times, serif; text-wrap: balance;} 
body {
    background-color: 	#d6c8c1; min-height: 100%;
}
.VG{
        background-color: 	#aa9f8e; border-color: #91aa9a; border-style: solid; border-width: 5px; width: 800px; margin: 0px auto;}
html {
    height: 100%;
}
.navbar {background-color: #9fb8a8;
overflow: hidden;}
.navtop {background-color: #91aa9a;}
.navbar a {float:left; color: black; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.navbar a:hover {background-color: cadetblue; color: black;}
.navbar a.active {background-color: #b8a89f; color: aliceblue;}
body {
    border-style: solid;
    border-width: 1px 10px;
    border-color: #9fb8a8;
    height: auto;
    margin: 0;

    }
    img.logoN {
        width:5%;
      }
    div.slay {text-align: center;}
      img.slaythespire {
          display: inline-block;
          margin-right: auto;
          margin-left: auto;
          width:120px;
        }
.flex-container {display: flex; flex-direction: row; justify-content: center; margin: 0;}