.gallerygrid img:hover {
  transform: scale(1.5); 
  position: relative; 
  z-index:10;
}
.gallerygrid img {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width:15%;
}
.gallerygrid {text-align: center;}
.gallerygrid2 img:hover {
  transform: scale(1.5); 
  position: relative; 
  z-index:10;
}
.gallerygrid2 img {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width:15%;
}
.gallerygrid2 {text-align: center;}
img.logoN {
  width:60px;
  }
.right {
  margin-left:auto ;
  width: 10px;
  margin-right: 50px;
}