div.GOSLI {text-align: center;}
img.GOSL {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width:20%;
  }
.experience {
    text-align: center;
  }
  
ul.listex {
    display: inline-block;
    text-align: left;
  }
  