h2 {text-align: center;}
p {width: 700px; margin: 0 auto; text-align: center; text-wrap: balance;} 
body {
    background-color: 	#d6c8c1; min-height: 100%; font-weight: 700; font-family:'Concert One', 'Micro 5', 'Times New Roman', Times, serif;
}
html {
    height: 100%;
}
 body {
    border-style: solid;
    border-width: 1px 10px;
    border-color: #9fb8a8;
    height: auto;
    margin: 0;

    }
div.links {text-align: center;}

.nav {background-color: #9fb8a8; overflow: hidden;}
.navtop {background-color: #91aa9a;}
.navbar a {float:left; color: black; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.navbar a:hover {background-color: cadetblue; color: black;}
.navbar a.active {background-color: #91aa9a; color: aliceblue;}

img.music{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width:9%;
}
img.figma{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width:20%;
}
img.artg{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width:15%;
}
img.logoN {
    width:5%;
  }

.links{
    background-color: #b3c9bb; 
    border-color: #91aa9a; 
    border-style: solid; 
    border-width: 5px; 
    width: 200px; 
    margin: 0px auto;
  }
  .IEL {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0;
  }
.right {
    margin-left:auto ;
    width: 10px;
    margin-right: 50px;
}
  